.tableContainer {
  overflow-x: auto;
  width: 100%;
}

.table {
  border: 1px solid rgb(230, 230, 230);
  border-collapse: collapse;
  border-radius: 20px !important;
  min-width: 1300px; /* Set a minimum width greater than the viewport */
  margin-top: 20px;
  table-layout: fixed; /* Force table to respect widths */
  font-size: 14px;
}

.table thead {
  font-weight: 700;
}

.table thead th {
  padding: 10px 20px;
  border-bottom: 1px solid rgb(230, 230, 230) !important;
  text-align: left;
  overflow: hidden; /* Ensure text doesn't overflow */
  text-overflow: ellipsis; /* Add ellipsis if text is too long */
  white-space: nowrap; /* Prevent wrapping of text */
}

.table thead th:nth-of-type(1) {
  width: 300px;
}

.table thead th:nth-of-type(2) {
  width: 250px;
}

.table thead th:nth-of-type(3) {
  width: 200px;
}

.table thead th:nth-of-type(4) {
  width: 150px;
}

.table thead th:nth-of-type(5) {
  width: 200px;
}

.table thead th:nth-of-type(6) {
  width: 200px;
}

.table td {
  padding: 10px 20px;
  overflow: hidden; /* Ensure text doesn't overflow */
  text-overflow: ellipsis; /* Add ellipsis if text is too long */
  white-space: nowrap; /* Prevent wrapping of text */
}

.table tbody tr:hover {
  background-color: rgb(240, 240, 240);
}
