.Btn {
  background-color: var(--primary-color);
  font-size: 15px;
  padding: 8px 30px;
  border: none;
  color: white;
  border-radius: 3px;
  transition-duration: 0.3s;
}

.Btn:hover {
  background-color: var(--primary-color);
}

.Btn:disabled {
  opacity: 0.5;
}
