.tableContainer {
  overflow-x: auto;
  width: 100%;
  margin-top: 20px;
}

.table {
  width: max-content; /* Table takes as much space as needed */
  border: 1px solid rgb(230, 230, 230);
  border-collapse: collapse;
  border-radius: 20px !important;
  table-layout: auto;
}

.table thead {
  font-weight: 700;
}

.table thead th {
  padding: 10px 20px;
  border-bottom: 1px solid rgb(230, 230, 230) !important;
  text-align: left;
  white-space: nowrap; /* Prevents content from wrapping */
}

.table thead th:nth-of-type(1) {
  width: 250px;
}

.table thead th:nth-of-type(2) {
  width: 200px;
}

.table thead th:nth-of-type(3) {
  width: 300px;
}

.table thead th:nth-of-type(4) {
  width: 200px;
}

.table td {
  padding: 7.5px 20px;
  white-space: nowrap; /* Prevents content from wrapping */
}

.table tbody tr:hover {
  background-color: rgb(240, 240, 240);
}
