@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --primary-color: #0e9ff2;
  --primary-color-hover: #0b87ce;
  --primary-color-light: #edf8fe;
  --primary-color-dark: #053e5e;
  --danger-color: #cf142b;
  --danger-color-hover: #ab1124;
  --input-border-radius: 3px;
}

* {
  font-family: "Outfit", sans-serif;
}

h1 {
  font-size: 36px;
  margin-bottom: 30px;
  font-weight: 700;
  width: fit-content;
}

h2 {
  width: 100%;
  font-size: 28px;
  font-weight: 500;
  padding: 0;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
}

.Screen {
  height: 46.75vw;
  overflow: scroll;
}
