@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --primary-color: #0e9ff2;
  --primary-color-light: #0e9ef219;
  --primary-color-dark: #032539;
  --secondary-color: #f2610e;
  --secondary-color-dark: #ce520b;
  /* #ce520b */
  --grey-color: rgb(100, 100, 100);
  --medium-grey-color: rgb(150, 150, 150);
  --light-grey-color: rgb(240, 240, 240);
  --danger-color: #cf142b;
  --danger-color-hover: #ab1124;
  --input-border-radius: 3px;
}

* {
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: rgb(240, 240, 240);
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 32px;
  margin-bottom: 50px;
  font-weight: 600;
  width: fit-content;
}

h2 {
  width: 100%;
  font-size: 26px;
  font-weight: 500;
  padding: 0;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.Screen {
  height: 46.75vw;
  overflow: scroll;
}

.bold {
  font-weight: 600;
}
